<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Welcome</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body >
  <div class="container" id="container" >
      <form>
        <h2 >Welcome, {{ username }}!</h2>
        <p>You have successfully logged in.</p>
        <a href="/profile">
          <button type="button" >
            View Profile
          </button>
        </a>
      </form>
  </div>
</body>
</html>
